# Ignore dependencies
/node_modules
/vendor

# Ignore build artifacts
/public/build
/public/storage

# Ignore sensitive files
/storage/*.key

# Ignore IDE/editor folders
/.idea
/.vscode

# Ignore system files
.DS_Store
/venv

# Ignore build outputs
/dist
/build
/site

# Ignore environment files
.env
.env.dev
.env.development

# Ignore log files and access logs
log
*.log
access_log

# Ignore Composer's lock file and binary
composer.lock
composer.phar