src/ export-ignore
dist/ export-ignore
template/ export-ignore
docs/ export-ignore
mkdocs.yml export-ignore
requirements.txt export-ignore
.readthedocs.yaml export-ignore
TODO.md export-ignore
.gitignore export-ignore
.gitattributes export-ignore