# Ignore dependencies
/node_modules
/vendor

# Ignore build artifacts
/public/build
/public/storage

# Ignore sensitive files
/storage/*.key

# Ignore IDE/editor folders
/.idea
/.vscode

# Ignore system files
.DS_Store
/venv

# Ignore build outputs
/dist
/build
/site
cmake-build-*/
out/

# Ignore environment files
.env
.env.dev
.env.development

# Ignore log files and access logs
log
*.log
access_log

# Ignore Composer's lock file and binary
composer.lock
composer.phar

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

src/bin/.gitignore
!src/bin/compressor.*
!src/bin/libcompressor.*